// Footer
footer.site-footer
  //.footer-top-area
  //  .container
  //        .row.footer-widgets
  //          .col-lg-3.mb-4.mb-md-5
  //            .footer-widget.footer-widget-1
  //              h4.mb-4 123 main street ground floor 116  London UK
  //              h4 +19 855 518 386 hello@moiz.com
  //
  //              ul.list-unstyled.list-inline.mt-5.mb-5.mb-md-0
  //                li.list-inline-item.border.border-soft-creame.py-2.px-3
  //                  a.text-gray-350(href='#')
  //                    i.fab.fa-facebook-f
  //                li.list-inline-item.border.border-soft-creame.py-2.px-3
  //                  a.text-gray-350(href='#')
  //                    i.fab.fa-instagram
  //                li.list-inline-item.border.border-soft-creame.py-2.px-3
  //                  a.text-gray-350(href='#')
  //                    i.fab.fa-twitter
  //
  //          .col-lg-3.mb-4.mb-md-5
  //            .footer-widget.footer-widget-2
  //              h4.mb-3 Information
  //              ul
  //                li
  //                  a(href='page-services.html') Insights & Events
  //                li
  //                  a(href='page-services.html') Certificates
  //                li
  //                  a(href='page-services.html') Maintenance Instructions
  //                li
  //                  a(href='page-services.html') Catalogues
  //          .col-lg-3.mb-4.mb-md-5
  //            .footer-widget.footer-widget-3
  //              h4.mb-3 About Us
  //              ul
  //                li
  //                  a(href='page-contact.html') Careers
  //                li
  //                  a(href='blog-three-col.html') For Media
  //                li
  //                  a(href='page-contact.html') Investor Relations
  //                li
  //                  a(href='page-contact.html') Locations
  //
  //          .col-lg-3.mb-4.mb-md-5
  //            .footer-widget.footer-widget-4
  //              h4.mb-3 Solutions
  //              ul
  //                li
  //                  a(href='page-service.html') Marketing
  //                li
  //                  a(href='page-service.html') Branding
  //                li
  //                  a(href='page-service.html') Design
  //                li
  //                  a(href='page-service.html') Web Development
  //                li
  //                  a(href='page-service.html') Concept Development
  //                li
  //                  a(href='page-service.html') Web Development
  //
  //
  .footer-bottom-area
    .container
      .row.large-gutters
        .col-md-6
          .footer-widget
            p.m-md-0 © #{new Date().getFullYear()} - Website - Daniele Fadda
        .col-md-6
          .footer-widget
            ul.list-inline.m-0.p-0.text-md-right.footer-nav
              li
                a(href='page-privacy-terms.html') ???
              li
                a(href='page-privacy-terms.html') ???

// End Footer
