// Navbar
.site-header

  nav.navbar.navbar-expand-lg.navbar-light
    .container
      a.navbar-brand(href='index.html') CBDAI
        // img.site-logo(src='assets/images/logo.png', alt='Logo')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav.ml-lg-auto
          //- Homes
          li.nav-item
            a.nav-link(href='index.html') Home
          li.nav-item
            a.nav-link(href='about.html') Chi siamo
          li.nav-item
            a.nav-link(href='four-pillars.html') 4 Pilastri
          li.nav-item
            a.nav-link(href='research-infrastructure.html') La Research Infrastructure
          li.nav-item
            a.nav-link(href='topic-algo.html') Topics

// End Navbar
