.nav.flex-column.nav-pills.border-right.border-soft-creame(aria-orientation='vertical')
    a.nav-link(href='topic-algo.html') Algorithmic techniques
    a.nav-link(href='topic-ml.html') Machine learning
    a.nav-link(href='topic-statistical.html') Statistical Learning
    a.nav-link(href='topic-predictive.html') Predictive e Prescriptive Analytic
    a.nav-link(href='topic-hpc.html') High-performance platforms
    a.nav-link(href='topic-economy.html') Analytics per l'economia
    a.nav-link(href='topic-industry.html') Analytics 4.0
    a.nav-link(href='topic-financial.html') Financial data science
    a.nav-link(href='topic-cvision.html') Computer vision
    a.nav-link(href='topic-sensing.html') Social sensing
    a.nav-link(href='topic-law.html') Privacy ed etica
    a.nav-link(href='topic-health.html') Salute
    a.nav-link(href='topic-dataviz.html') Data Visualization
    a.nav-link(href='topic-farmacy.html') Farmacologia
    a.nav-link(href='topic-business-modeling.html') Business Modeling
    a.nav-link(href='topic-network.html') Scienza delle reti

