
	.woocommerce-message, .woocommerce-Message {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  color: $body-color;
	  border-radius:5rem;
	  .button {
		order: 2;
		padding: 0.5rem 1.5rem;
	  }
	}
  
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	margin-bottom: 1.5rem;
	padding: 0.7rem 1.5rem;
	background: $white;
	@include font-size($font-size-sm);
	font-family: $headings-font-family;
	list-style: none;
	overflow: hidden;
}


.woocommerce-error,
.woocommerce-info {
	color: #fff;

	a {
		color: #fff;

		&:hover {
			color: #fff;
		}

		&.button {
			background: #111;
		}
	}
}

.woocommerce-error {
	background: firebrick;
}

.woocommerce-info {
	background: $component-active-color;
}

.woocommerce-store-notice {
	background: $component-active-color;
	color: #fff;
	padding: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.admin-bar .woocommerce-store-notice {
	top: 32px;
}

.woocommerce-store-notice__dismiss-link {
	float: right;
	color: #fff;

	&:hover {
		text-decoration: underline;
		color: #fff;
	}
}
