
/**
 * Shop page
 */
 .woocommerce-products-header {

	border-bottom: solid 1px $border-color;
	padding-bottom: $spacer * 1.8;
	margin-bottom: $spacer * 2.5;

	.page-title {
		@include font-size($h2-font-size);
		color: $gray-500;
	}
}

.woocommerce-result-count {
	margin-top: 14px;
	color: $gray-500;
}

.woocommerce-result-count,
.woocommerce-ordering {
	margin-bottom: $spacer * 3;
}
.woocommerce-ordering {
	select {
		background: $white;
		border-radius: 50px;
	}
}