extends includes/layout
include includes/mixin

block content

  article.entry.mb-7
    .entry-content
      .home-hero-img.py-6.pb-7.py-lg-8
        .container
          .row
            .col-lg-5
              div.p-3.home-cover-text-box
                h1.mb-2.mb-lg-2
                  div.has-soft-orange-color Chi siamo
                h3.mb-2.mb-lg-2.font-italic centro di competenza regionale
                h1.display-5.font-weight-bold
                  div Big Data, Data Science
                  div e Artificial Intelligence
      .has-white-background-color.pt-2.pb-4.pt-lg-3.pb-lg-5
        .row.gx-lg-5.gy-5
            .col-lg-12.justify-content-around.d-flex
              .text-center.align-items-center.float-left
                .mt-lg-4.mt-4.mb-2
                  img(src="assets/images/logo/logo_Cnr.jpg" alt="CNR" style='width:100px; height:100px;').rounded-circle
                  .px-lg-2.px-4
                  .mt-lg-4.mt-5
                    p CNR
              .text-center.align-items-center.float-left
                .mt-lg-4.mt-4.mb-2
                  img(src="assets/images/logo/logo_unipi.jpg" alt="Unipi" style='width:100px; height:100px;').rounded-circle
                  .px-lg-4.px-4
                  .mt-lg-4.mt-5
                    p University of Pisa
              .text-center.align-items-center.float-left
                .mt-lg-4.mt-4.mb-2
                  img(src="assets/images/logo/logo_unipi.jpg" alt="Unipi" style='width:100px; height:100px;').rounded-circle
                  .px-lg-4.px-4
                  .mt-lg-4.mt-5
                    p University of Pisa
              .text-center.align-items-center.float-left
                .mt-lg-4.mt-4.mb-2
                  img(src="assets/images/logo/logo_unipi.jpg" alt="Unipi" style='width:100px; height:100px;').rounded-circle
                  .px-lg-4.px-4
                  .mt-lg-4.mt-5
                    p University of Pisa
              .text-center.align-items-center.float-left
                .mt-lg-4.mt-4.mb-2
                  img(src="assets/images/logo/logo_unipi.jpg" alt="Unipi" style='width:100px; height:100px;').rounded-circle
                  .px-lg-4.px-4
                  .mt-lg-4.mt-5
                    p University of Pisa
              .text-center.align-items-center.float-left
                .mt-lg-4.mt-4.mb-2
                  img(src="assets/images/logo/logo_unipi.jpg" alt="Unipi" style='width:100px; height:100px;').rounded-circle
                  .px-lg-4.px-4
                  .mt-lg-4.mt-5
                    p University of Pisa
              .text-center.align-items-center.float-left
                .mt-lg-4.mt-4.mb-2
                  img(src="assets/images/logo/logo_unipi.jpg" alt="Unipi" style='width:100px; height:100px;').rounded-circle
                  .px-lg-4.px-4
                  .mt-lg-4.mt-5
                    p University of Pisa

      .has-soft-creame-background-color.pt-4.pb-7.pt-lg-6.pb-lg-8
        .container
          .row
            .col-lg-12
              h4.has-soft-orange-color.mb-2.mb-lg-2.font-italic Chi siamo
              h1.mb-4.mb-lg-4 Partner
          .row.gx-lg-7
            .col-lg-6.mb-5
              .mb-lg-4
                p.lead Tra gli Enti proponenti, risultano diverse istituzioni e gruppi di ricerca con interazioni già fortemente consolidate nel contesto dell'AI and Data Science.
              .mb-lg-2
                #accordionExample.accordion
                  .card.border-0
                    #headingOne.card-header.home-hero
                      a.h5.py-lg-2.px-lg-4.py-1.px-3.d-block(href='#' data-toggle='collapse' data-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
                        | CNR Pisa
                    #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
                      .py-lg-2.px-lg-2.home-hero.border-top.border-white
                        .card-body
                          | Istituto di Scienza e Tecnologia dell’Informazione (Knowledge Discovery and Data Mining Lab, High-Performance Computing Lab, Networked Multimedia Information Systems Lab) e Istituto di Informatica e Telematica (Ubiquitous Internet Lab, Web Applications for the Future Internet Lab).
                  .card.border-0
                    #headingTwo.card-header.home-hero
                      a.h5.py-lg-2.px-lg-4.py-1.px-3.d-block(href='#' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                        | Scuola IMT Alti Studi di Lucca.
                    #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
                      .py-lg-2.px-lg-2.home-hero.border-top.border-white
                        .card-body
                          | Scuola IMT Alti Studi di Lucca
                  .card.border-0
                    #headingThree.card-header.home-hero
                      a.h5.py-lg-2.px-lg-4.py-1.px-3.d-block(href='#' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                        | Scuola Normale Superiore
                    #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
                      .py-lg-2.px-lg-2.home-hero.border-top.border-white
                        .card-body
                          | Quantitative Finance Lab, Dipartimento di Eccellenza in Scienze Computazionali e dei Dati, Laboratorio SMART, Gruppo di Fisica delle Alte Energie, Laboratorio Bio@SNS, Gruppo di Chimica Teorica (Classe di Scienze); DEMOS Lab (Classe di Scienze Politico-Sociali).
                  .card.border-0
                    #headingFour.card-header.home-hero
                      a.h5.py-lg-2.px-lg-4.py-1.px-3.d-block(href='#' data-toggle='collapse' data-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                        | Scuola Superiore S. Anna
                    #collapseFour.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
                      .py-lg-2.px-lg-2.home-hero.border-top.border-white
                        .card-body
                          | Istituto di Management, Istituto di Economia, Istituto DIRPOLIS e Istituto TECIP, Dipartimento di Eccellenza Embeds (Economics and Management in the Era of Data Science).
                  .card.border-0
                    #headingFive.card-header.home-hero
                      a.h5.py-lg-2.px-lg-4.py-1.px-3.d-block(href='#' data-toggle='collapse' data-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
                        | Università di Firenze
                    #collapseFive.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
                      .py-lg-2.px-lg-2.home-hero.border-top.border-white
                        .card-body
                          | Dipartimento di Ingegneria dell’Informazione (Artificial Intelligence Lab – AI-Lab; Distributed Systems and Internet Technologies Lab - DISIT-Lab; Global Optimization Lab – GOL; Media Integration and Communication Center – MICC; Software Technologies Lab - ST-Lab); Dipartimento di Statistica, Informatica, Applicazioni (Centro Interdipartimentale Florence Center for Data Science – FDS, DISIA-Lab).
                  .card.border-0
                    #headingSix.card-header.home-hero
                      a.h5.py-lg-2.px-lg-4.py-1.px-3.d-block(href='#' data-toggle='collapse' data-target='#collapseSix' aria-expanded='false' aria-controls='collapseSix')
                        | Università di Pisa
                    #collapseSix.collapse(aria-labelledby='headingSix' data-parent='#accordionExample')
                      .py-lg-2.px-lg-2.home-hero.border-top.border-white
                        .card-body
                          | Dipartimento di Informatica (Knowledge Discovery and Data Mining Lab, Advanced Algorithms and Applications Lab, Computational Intelligence and Machine Learning Lab) e Dipartimento di Ingegneria dell’Informazione (Data Science and Engineering Lab, Automotive Electronics & EmbeddedHPC)
                  .card.border-0
                    #headingSeven.card-header.home-hero
                      a.h5.py-lg-2.px-lg-4.py-1.px-3.d-block(href='#' data-toggle='collapse' data-target='#collapseSeven' aria-expanded='false' aria-controls='collapseSeven')
                        | Università di Siena
                    #collapseSeven.collapse(aria-labelledby='headingSix' data-parent='#accordionExample')
                      .py-lg-2.px-lg-2.home-hero.border-top.border-white
                        .card-body
                          | Dipartimento di Ingegneria dell'Informazione e Scienze Matematiche (Siena Artificial Intelligence Lab – SAILab).
                          |

            .col-lg-6
              .border-drop-left
                .has-soft-blue-background-color.text-white.py-5.px-4.py-lg-7.px-lg-6
                  i.display-2.fas.fa-quote-left
                  p.lead.pt-2.mt-4.mb-4 Una comunità di ricercatori (oltre 300), studenti, partner industriali e start-up, con la missione di costituire un polo per il progresso scientifico e di trasferimento tecnologico che ispiri l'innovazione e lo sviluppo dell’AI e della Data Science a beneficio di tutti.

      .has-white-background-color.pt-5.pb-7.pt-lg-9.pb-lg-8
        #hubs.container
          .row
            .col-lg-12
              h4.has-soft-orange-color.mb-2.mb-lg-2.font-italic Hub
              h1.mb-4.mb-lg-4 I 3 poli principali
        #pisaHub.container.mt-5.mt-lg-9
          .text-img-box
            .text-box
                h1.mb-3.mb-lg-3.text-white 1. Pisa AI and Data Science Hub
                .mt-lg-1.mt-1
                  p.lead è stato costituito nel 2019 da alcuni gruppi di ricerca di CNR (Pisa), Università di Pisa, Scuola Normale Superiore, IMT di Lucca, Scuola S. Anna di Pisa, sulla scorta dell'esperienza di successo del laboratorio congiunto SoBigData.it (attivo nel periodo 2014-2019).
                  p.lead Le attività dell'AI and Data Science Hub sono volte a consolidare collaborazioni esistenti, facendo sistema ed amplificando l’impatto dei singoli gruppi partecipanti.
                  p.lead Le attività dell'AI and Data Science Hub (e di !{' '}
                    span.lead.font-italic
                      | SoBigData.it!{' '}
                    span.lead
                      | in precedenza) sono organizzate attorno a quattro pillar principali: Accesso, Trasferimento Tecnologico, Formazione, Ricerca, ed hanno generato la prima e unica Research Infrastructure a livello Europeo sui Big Data (SoBigData.eu - recentemente rifinanziata per il periodo 2020-24), che verrà messa a disposizione del Centro.
            .img-box
              .border-drop-left.border-color-soft-creame
                img(src='assets/images/Pisa.png', alt='Pisa')

        #firenzeHub.container.mt-5.mt-lg-9
          .text-img-box.text-img-box-reverse
            .text-box
                h1.mb-3.mb-lg-3.has-soft-orange-color
                  | 2. Florence Center
                  br
                  | for Data Science
                .mt-lg-1.mt-1
                  p.lead è stato costituito nel 2019 su iniziativa dei Dipartimenti di Statistica, Informatica, Applicazioni e del Dipartimento di Ingegneria dell’Informazione, come centro di ricerca interdipartimentale dell’Università di Firenze.
                  p.lead Coinvolge anche ricercatori dei Dipartimenti di Scienze per l’Economia e l’Impresa e di Matematica e Informatica, proponendosi come punto di riferimento e di aggregazione per le discipline coinvolte nei processi data-intensive di produzione della conoscenza a supporto dei processi decisionali.

            .img-box
              .border-drop-right
                img(src='assets/images/Firenze.png', alt='Firenze')

      // form subscription
      #sienaHub.container.mt-5.mt-lg-9
        .text-img-box
          .text-box
              h1.mb-lg-3.text-white 3. Siena Artificial Intelligence Laboratory (SAILab)
              p.lead.pr-lg-7 riunisce ricercatori dell’Università di Siena su tematiche fondazionali dell’apprendimento automatico e su applicazioni alla visione artificiale, alle scienze della vita, all’elaborazione del linguaggio naturale, alla bioinformatica, bioingegneria e robotica.
              p.lead SAILab è anche riferimento per aziende del territorio sull’applicazione di tecniche di Intelligenza Artificiale a problemi di interesse industriale, oltre a essere partner del progetto AI4EU che ha l’obiettivo di creare la prima piattaforma on-demand e ecosistema di Intelligenza Artificiale della Comunità Europea.


          .img-box
            .border-drop-right
              img(src='assets/images/Siena.png', alt='Siena')
