extends includes/layout
include includes/mixin

block content
    //- Page title
    .mb-lg-9.mb-md-7.mb-5 
      +pagetitle({title:'Slider', description:''})
    // Slider
    .container
      .row.large-gutters
        .col-lg-3.mb-8
          //- Elements nav
          include includes/elements-nav
        .col-lg-9.mb-9.mt-5
          h5.mb-4 Arrows
          .slider-call.popup-gallery.mb-5(data-flickity='{ "contain": true, "prevNextButtons": true, "pageDots": false }')
              img(src='assets/images/26.jpg', alt='Picture')
              img(src='assets/images/27.jpg', alt='Picture')
              img(src='assets/images/28.jpg', alt='Picture')

          h5.mb-4 Pagination
          .slider-call.popup-gallery(data-flickity='{ "contain": true, "prevNextButtons": false }')
              img(src='assets/images/4.jpg', alt='Picture')
              img(src='assets/images/5.jpg', alt='Picture')
              img(src='assets/images/6.jpg', alt='Picture')
              