extends includes/layout
include includes/mixin

block content
    //- Page title
    .mb-lg-9.mb-md-7.mb-5
      +pagetitle({title:'Galleries', description:''})
    .container
      .row.large-gutters
        .col-lg-3.mb-7
          //- Elements nav
          include includes/elements-nav
        .col-lg-9.mb-7
          .row.small-gallery-gutters.popup-gallery
            .col-4
              img(src='assets/images/26.jpg', alt='Image')
            .col-4
              img(src='assets/images/27.jpg', alt='Image')
            .col-4
              img(src='assets/images/28.jpg', alt='Image')
            .col-4
              img(src='assets/images/29.jpg', alt='Image')
            .col-4
              img(src='assets/images/31.jpg', alt='Image')
            .col-4
              img(src='assets/images/33.jpg', alt='Image')
          h3.text-center.mt-6.mb-5 Hover Effect
          .row.small-gallery-gutters.popup-gallery.hover-opacity-effect
            .col-4
              img(src='assets/images/34.jpg', alt='Image')
            .col-4
              img(src='assets/images/35.jpg', alt='Image')
            .col-4
              img(src='assets/images/36.jpg', alt='Image')
            .col-4
              img(src='assets/images/37.jpg', alt='Image')
            .col-4
              img(src='assets/images/38.jpg', alt='Image')
            .col-4
              img(src='assets/images/39.jpg', alt='Image')
