extends includes/layout
include includes/mixin

block content
  //- Page title
  .mb-lg-9.mb-md-7.mb-5
    +pagetitle({title:'Partners', description:''})
  .container
    .row.large-gutters
      .col-lg-3.mb-7
        //- Elements nav
        include includes/elements-nav
      .col-lg-9.mb-7

        h2.mb-3 Our Partners
        p
          | Quisque congue accumsan ante id condimentum. Aliquam lorem nisl, bibendum et sollicitudin
          | ut, viverra vitae ligula. In hac habitasse platea dictumst.

        .row.large-gutters.mt-4.mb-5
          .col-lg-6
            .home-hero
              .border.border-black
                .text-center.align-items-center
                  .px-lg-4.py-lg-5.px-4.py-5
                    .px-lg-5.mt-lg-4.px-5.mt-4
                      img(src="assets/images/logo/3.png" alt="Meeting")
                    .mt-lg-4.mt-5.has-soft-orange-color  
                      h4 Construction Partners
                    .px-lg-3.mt-lg-3.px-3.mt-3
                      p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
          .col-lg-6
            .home-hero
              .border.border-black
                .text-center.align-items-center
                  .px-lg-4.py-lg-5.px-4.py-5
                    .px-lg-5.mt-lg-4.px-5.mt-4
                      img(src="assets/images/logo/2.png" alt="Meeting")
                    .mt-lg-4.mt-5.has-soft-orange-color
                      h4 Bank Partners
                    .px-lg-3.mt-lg-3.px-3.mt-3
                      p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.

        .row
          .col-md-12.mb-3
            h2.mb-3 In Carousel
            p
              | Quisque congue accumsan ante id condimentum. Aliquam lorem nisl, bibendum et sollicitudin ut, viverra vitae ligula. In hac habitasse platea dictumst.
            .slider-call.popup-gallery.pt-5(data-flickity='{ "contain": true, "prevNextButtons": false }')
              img.px-3.w-25(src='assets/images/4.jpg' alt='Carousel Logo')
              img.px-3.w-25(src='assets/images/5.jpg' alt='Carousel Logo')
              img.px-3.w-25(src='assets/images/6.jpg' alt='Carousel Logo')
              img.px-3.w-25(src='assets/images/7.jpg' alt='Carousel Logo')
              img.px-3.w-25(src='assets/images/8.jpg' alt='Carousel Logo')
              img.px-3.w-25(src='assets/images/9.jpg' alt='Carousel Logo')
              img.px-3.w-25(src='assets/images/25.jpg' alt='Carousel Logo')
              img.px-3.w-25(src='assets/images/26.jpg' alt='Carousel Logo')
              img.px-3.w-25(src='assets/images/27.jpg' alt='Carousel Logo')
