extends includes/layout
include includes/mixin

block content
  //- Page title
  .mb-lg-9.mb-md-7.mb-5
    +pagetitle({title:'Testimonials', description:''})
  .container
    .row.large-gutters
      .col-lg-3.mb-7
        //- Elements nav
        include includes/elements-nav
      .col-lg-9.mb-7
        .container.mb-5
          .row.gx-0.align-items-stretch
            .col-lg-6.testimonial-1-bg-img.py-8.order-lg-1
            .col-lg-6.has-white-background-color.border.border-lg-right-0.border-md-top-0.border-soft-creame
              .py-lg-8.px-lg-5.px-4.py-5
                  i.has-soft-blue-color.display-2.fas.fa-quote-left
                  p.lead.pt-2.mt-4.mb-4 Adipisci qui natus expedita aut eum aut. Et ut repellendus ea quis autem reprehenderit volu ptatem. Amet totam dolor is voluptates a tenetur sit. Qui asperiores excepturi perspiciatis totam rerum volup tatem et neque pariatur. Fugiat qui illum sequi ea qui. Iure eos fugit.
                  cite.has-soft-orange-color.pt-2.h5.font-normal Michael D. Wilson - CEO of New City
        .container
          .row.align-items-stretch.gx-0
            .col-lg-6.testimonial-2-bg-img.py-8
            .col-lg-6.border.border-lg-left-0.border-md-top-0.border-soft-creame.order-lg-1
              .py-lg-8.px-lg-5.px-4.py-5
                i.has-soft-blue-color.display-2.fas.fa-quote-left
                p.lead.pt-2.mt-4.mb-4 Adipisci qui natus expedita aut eum aut. Et ut repellendus ea quis autem reprehenderit volu ptatem. Amet totam dolor is voluptates a tenetur sit. Qui asperiores excepturi perspiciatis totam rerum volup tatem et neque pariatur. Fugiat qui illum sequi ea qui. Iure eos fugit.
                cite.has-soft-orange-color.pt-2.h5.font-normal Michael D. Wilson - CEO of New City