extends includes/layout
include includes/mixin

block content
    //- Page title
    .mb-lg-9.mb-md-7.mb-5
      +pagetitle({title:'Buttons', description:''})
    .container
      .row.large-gutters
        .col-lg-3.mb-7
          //- Elements nav
          include includes/elements-nav
        .col-lg-9.mb-7
          .container
            .row  
              .col-lg-4
                a.btn.btn-outline-sun-shade(href="#") View More
              .col-lg-4
                a.btn.btn-outline-black(href="#") Follow Us
              .col-lg-4
                a.btn.btn-outline-black.bg-black.text-white(href="#") Follow Us
            .row.mt-lg-5.mt-md-4.mt-4  
              .col-lg-4
                a.btn.btn-soft-blue(href="#") Button
              .col-lg-4
                a.btn.btn-outline-soft-blue.rounded(href="#") View More
              .col-lg-4
                a.btn.btn-outline-sun-shade.bg-sun-shade.text-white(href="#") Button