extends includes/layout
include includes/mixin

block content
  //- Page title
  .mb-lg-9.mb-md-7.mb-5
    +pagetitle({title:'Accordions', description:''})
  .container
    .row.large-gutters
      .col-lg-3.mb-7
        //- Elements nav
        include includes/elements-nav
      .col-lg-9.mb-7
        h1 Our Team
        .container
          .row.gx-lg-5
            .col-lg-6.mt-5
              .member-content
                .member-image
                  img(src='assets/images/34.jpg')
                .border.border-soft-creame.border-top-0  
                  .member-text
                    h5.member-name Reda McClain
                    .member-tag
                      span.member-role founder and chairman
                    p Quisque sollicitudin lacinia sapien, eu tincidunt nunc accumsan laoreet. Curabitur feugiat posuere odio nec tincidunt.
                    ul.list-unstyled.list-inlinetrue.mb-7.mb-md-0
                      li.list-inline-item.border.border-black-color.py-2.px-3
                        a.text-gray-350(href='#')
                          i.fab.fa-facebook-f
                      li.list-inline-item.border.py-2.px-3
                        a.text-gray-350(href='#')
                          i.fab.fa-instagram
                      li.list-inline-item.border.py-2.px-3
                        a.text-gray-350(href='#')
                          i.fab.fa-twitter
            .col-lg-6.mt-5
              .member-content
                .member-image
                  img(src='assets/images/35.jpg')
                .border.border-soft-creame.border-top-0  
                  .member-text
                    h5.member-name Reda McClain
                    .member-tag
                      span.member-role founder and chairman
                    p Quisque sollicitudin lacinia sapien, eu tincidunt nunc accumsan laoreet. Curabitur feugiat posuere odio nec tincidunt.
                    ul.list-unstyled.list-inlinetrue.mb-7.mb-md-0
                      li.list-inline-item.border.py-2.px-3
                        a.text-gray-350(href='#')
                          i.fab.fa-facebook-f
                      li.list-inline-item.border.py-2.px-3
                        a.text-gray-350(href='#')
                          i.fab.fa-instagram
                      li.list-inline-item.border.py-2.px-3
                        a.text-gray-350(href='#')
                          i.fab.fa-twitter
            