extends includes/layout
include includes/mixin

block content
  //- Page title
  .mb-lg-9.mb-md-7.mb-5
    +pagetitle({title:'Icon Box', description:''})
  .container
    .row.large-gutters
      .col-lg-3.mb-7
        //- Elements nav
        include includes/elements-nav
      .col-lg-9.mb-7
        .row.g-4.text-center
          .col-md-6
            .has-soft-creame-background-color.px-5.py-5
              i.far.fa-heart.fa-2x.mb-3
              h5.mb-3 Made With Love
              p Today, I'm very happy about myself, because I realized my dreams. I learned how to understand what people want.
          .col-md-6
            .has-soft-creame-background-color.px-5.py-5
              i.fab.fa-angellist.fa-2x.mb-3
              h5.mb-3 Easy to Customize
              p Today, I'm very happy about myself, because I realized my dreams. I learned how to understand what people want.
          .col-md-6
            .has-soft-creame-background-color.px-5.py-5
              i.far.fa-heart.fa-2x.mb-3
              h5.mb-3 Made With Love
              p Today, I'm very happy about myself, because I realized my dreams. I learned how to understand what people want.
          .col-md-6
            .has-soft-creame-background-color.px-5.py-5
              i.fab.fa-angellist.fa-2x.mb-3
              h5.mb-3 Easy to Customize
              p Today, I'm very happy about myself, because I realized my dreams. I learned how to understand what people want.

          .col-lg-6.text-left
            .border.border-dark
              .has-soft-creame-background-color
                  .px-5.py-6
                    span.icon
                      i.has-soft-orange-color.h-large.display-6.fas.fa-bullhorn.mb-lg-4.mb-4
                    h4.text-capitalize.mb-4 Marketing
                    p Praesent varius lorem mauris, varius interdum nisi consequat et. Aliquam vel mi a diam vestibulum ultrices eu vitae lectus. Morbi venenatis lacinia cursus. Nullam at purus tincidunt cursus.
          .col-lg-6.text-left
            .border.border-dark
              .has-soft-creame-background-color
                  .px-5.py-6
                    span.icon
                      i.has-soft-orange-color.h-large.display-6.fas.fa-desktop.mb-lg-4.mb-4
                    h4.text-capitalize.mb-4 Web Design
                    p Praesent varius lorem mauris, varius interdum nisi consequat et. Aliquam vel mi a diam vestibulum ultrices eu vitae lectus. Morbi venenatis lacinia cursus. Nullam at purus tincidunt cursus. 
