extends includes/layout
include includes/mixin

block content
    //- Page title
    .mb-lg-9.mb-md-7.mb-5
      +pagetitle({title:'Accordions', description:''})
    .container
      .row.large-gutters
        .col-lg-3.mb-7
          //- Elements nav
          include includes/elements-nav
        .col-lg-9.mb-7
          #getting-started.countdown.mb-4
          p
            | Donec ullamcorper non tellus eget auctor. Donec vulputate libero non tellus consectetur
            | fringilla.
            | Nam ultrices semper turpis ac tincidunt. Sed vel mauris id tellus vulputate porta eu vel
            | orci.
            | Morbi a nisl blandit.