extends includes/layout
include includes/mixin

block content
  //- Page title
  .mb-lg-9.mb-md-7.mb-5 
    +pagetitle({title:'Image Box', description:''})
  .container
    .row.large-gutters
      .col-lg-3.mb-7
        //- Elements nav
        include includes/elements-nav
      .col-lg-9.mb-7

        .row
          .col-md-6.mb-5
            img(src="assets/images/34.jpg", alt="holder image").mb-4
            h5.mb-4 Made With Love
            p Today, I'm very happy about myself, because I realized my dreams. I learned how to understand what people want.
          .col-md-6.mb-5
            img(src="assets/images/35.jpg", alt="holder image").mb-4
            h5.mb-4 Easy to Customize
            p Today, I'm very happy about myself, because I realized my dreams. I learned how to understand what people want.

        hr.mt-0.mb-7

        .row
          .col-md-6.mb-5
            img(src="assets/images/26.jpg", alt="holder image").mb-4.rounded-lg
            h5.mb-4 Made With Love
            p Today, I'm very happy about myself, because I realized my dreams. I learned how to understand what people want.
          .col-md-6.mb-5
            img(src="assets/images/27.jpg", alt="holder image").mb-4.rounded-lg
            h5.mb-4 Easy to Customize
            p Today, I'm very happy about myself, because I realized my dreams. I learned how to understand what people want.

        hr.mt-0.mb-2

        