extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      // Hero
      .home-hero.py-5.pt-lg-8.pb-lg-7
        .container
          .row.gx-lg-5
            .col-lg-6.mb-4
              h5.has-soft-orange-color.mb-2.font-italic Service
              h2.mb-4 Concept Development
              p.lead siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              p sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            .col-lg-6
              .border-drop-left
                img(src="assets/images/29.jpg" alt="Meeting")
      .pt-lg-9.pb-lg-8.pt-6.pb-7
        .container
          .row
            .col-lg-8.offset-2
              h3.mb-3 Select the Design Preference
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sapien eros, ultricies non ornare eget, facilisis ac nulla. Donec blandit vitae elit et varius. Nam lobortis rutrum neque et porta. Phasellus nec neque ut elit pellentesque posuere at eget felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut laoreet dui nec lectus fringilla, ut egestas neque malesuada. Etiam sit amet nulla eu diam placerat efficitur. Mauris ut dictum est. Nunc interdum lobortis lorem eu iaculis. Sed lorem risus, ultricies sed nibh et, vestibulum placerat urna. Vivamus quis erat dapibus, vestibulum leo ac, lobortis tortor. Aenean ac tellus vel ligula pretium lacinia. 

              p Proin eget purus ut nulla tincidunt hendrerit sed in urna. Mauris ut aliquet metus, vel convallis velit. Fusce sit amet rutrum odio. Fusce faucibus ante sed porta tempor. Curabitur sed augue orci. Phasellus eu risus lectus. Integer et nunc odio. Nullam faucibus felis porttitor venenatis ullamcorper. Maecenas eget augue at arcu venenatis luctus. Praesent blandit pellentesque posuere. Suspendisse blandit, velit ut feugiat dignissim, metus augue fringilla tellus, ut iaculis dolor elit a nunc. Donec lacus massa, dapibus hendrerit diam non, pellentesque faucibus nunc. Sed molestie, urna id porta convallis, est lorem malesuada eros, id commodo elit augue vel tellus.

              h3.mt-5.mb-3 We Get Start to Work on Your vision

              p Vivamus vel dolor vitae urna euismod tempor. Aenean sed metus nibh. Vivamus efficitur lorem non quam auctor, vitae consectetur elit finibus. Mauris gravida est orci, in condimentum urna convallis consectetur. Nam elementum interdum eros vitae ullamcorper. Nullam mi arcu, malesuada eget condimentum non, cursus nec purus. In vel justo eleifend, tempus velit quis, convallis urna. Aenean volutpat lorem et quam ultricies, non elementum nisl condimentum. Suspendisse eleifend dui sit amet metus porttitor, eget tristique felis elementum. Aliquam tristique tempor sapien ut porta. Proin in arcu quam.

              h3.mt-5.mb-3 We Go in Design Phase.

              p Nullam interdum nibh vitae urna ornare placerat. Aliquam erat volutpat. Nullam consectetur dolor tincidunt lectus auctor hendrerit. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In viverra molestie turpis et elementum. Aenean at orci sed purus lacinia rhoncus. Pellentesque id ligula sodales libero consectetur pretium.

              p Pellentesque metus mauris, suscipit a dictum ac, sagittis et libero. Nam consectetur lacus a metus facilisis pulvinar. Nam tempor velit vel purus accumsan, vel congue ante varius. Curabitur ornare varius nisi, sed posuere eros suscipit at. Fusce aliquet nisl sit amet nibh vulputate tincidunt. Suspendisse dolor tortor, porta vel efficitur vehicula, tempus non massa. Suspendisse maximus dolor a metus pellentesque posuere eu sed sapien. Aenean rhoncus rutrum efficitur. Vivamus pretium iaculis elementum. Sed eu est id leo vulputate sodales ut vel tellus. 
      .container
        .row
          .col-lg-8.offset-2.text-center
          .col-sm-8.offset-sm-2.text-center
            .mb-lg-2.mb-3  
              h4 Still no luck? We can help!
            .mt-lg-4.mb-4
              a.btn.btn-default.rounded-0(href='page-contact.html') Submit A Request
      // form subscription  
      .container
        .row.align-items-center.gx-lg-7.mb-lg-9.mt-lg-9.mt-7.mb-7
          .col-lg-6
            .px-3
              h2.mb-lg-3 Subscribe and keep up with the latest from Moiz
              p.pr-lg-7 Maecenas ultricies, ligula id condimentum efficitur, orci diam tincidunt nisi, et mollis nisl dui ut risus. Nam neque magna, rutrum id sapien elementum, ornare pretium arcu. Suspendisse lacinia pharetra lobortis. Donec vitae eros ut velit lacinia aliquam sodales hendrerit.
              p.pr-lg-7 Phasellus ut urna eget justo consectetur at ante. Etiam ipsum neque, feugiat ut gravida non, imperdiet nec mi. Quisque vitae urna ut mauris laoreet ullamcorper quis sit amet tellus

          .col-lg-6.mt-4
            .border-drop-left.border-color-soft-creame
              .has-soft-creame-background-color.py-5.px-4.py-lg-7.px-lg-6
                form(action='#')
                  .mb-lg-4.mb-4
                    input#fname.form-control(type='text' name='fname' value='First Name')
                  .mb-lg-4.mb-4
                    input#lname.form-control(type='text' name='lname' value='Last Name')
                  .mb-lg-4.mb-4
                    p Your email will be safely stored in our database. We respect your privacy. Signing up is quick and easy and you can unsubscribe instantly at any time by clicking the link in the footer of our  emails.
                  .mb-lg-4  
                    a.btn.btn-default.rounded-0.btn-block(href='#') Subscribe