extends includes/layout
include includes/mixin

block content
  
  article.entry.mb-7
    .entry-content

      .has-soft-creame-background-color.pt-5.pb-7.pt-lg-9.pb-lg-8
        .container 
          .row.gx-lg-7
            .col-lg-6.mb-5
              h4.has-soft-orange-color.mb-2.mb-lg-2.font-italic Creative Agency
              h1.mb-4.mb-lg-4 We use digital solutions to help make your grow  business and profit line.
              .mb-lg-4
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              p Etiam faucibus eu arcu ac vehicula. Phasellus vehicula orci sed volutpat molestie. Aliquam sodales elit id neque gravida porta. Phasellus non magna dolor. Denean id metus id ligula laoreet fermentum blandit sit amet urna. Aliquam placerat pretium justo ac dictum. Duis id metus id ligula pellentesque condimentum enim id rutrum. 
            .col-lg-6
              .border-drop-left 
                .has-soft-blue-background-color.text-white.py-5.px-4.py-lg-7.px-lg-6
                  i.display-2.fas.fa-quote-left
                  p.lead.pt-2.mt-4.mb-4 Adipisci qui natus expedita aut eum aut. Et ut repellendus ea quis autem reprehenderit volu ptatem. Amet totam dolor is voluptates a tenetur sit. Qui asperiores excepturi perspiciatis totam rerum volup tatem et neque pariatur. Fugiat qui illum sequi ea qui. Iure eos fugit.
                  cite.pt-2.h5.font-normal Michael D. Wilson - CEO of New City
      
      .about-us-hero-img

      .container.mt-5.mt-lg-9
        .text-img-box
          .text-box
              h1.mb-3.mb-lg-3.has-sun-shade-color Mission
              .mt-lg-1.mt-1
                p.lead Nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consetetur no sea takimata.
              p Nunc quis dui tincidunt, rutrum orci vitae, porttitor lectus. Nullam tellus justo, euismod quis elit sed, imperdiet aliquam purus. Morbi id lorem orci. Aenean eleifend lorem diam, in maximus lacus finibus at. Aliquam vestibulum arcu in orci fringilla mattis.
              p Nam pulvinar sapien pulvinar, laoreet sem eu, blandit magna. Duis finibus diam, eget efficitur massa vehicula quis. Nullam vestibulum ante ipsum primis in faucibus orci luctus et massa vehicula quis ultrices posuere cubilia curae.
          .img-box
            .border-drop-left.border-color-soft-creame
              img(src='assets/images/11.jpg', alt='product')

      .container.mt-5.mt-lg-9
        .text-img-box.text-img-box-reverse
          .text-box
              h1.mb-3.mb-lg-3.has-soft-orange-color Vision
              .mt-lg-1.mt-1
                p.lead Nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. vero eos et accusam et justo rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consetetur no sea takimata.
              p Nunc quis dui tincidunt, rutrum orci vitae, porttitor lectus. Nullam tellus justo, euismod quis elit sed, imperdiet aliquam purus. Morbi id lorem orci. Aenean eleifend lorem diam, in maximus lacus finibus at. Aliquam vestibulum arcu in orci fringilla mattis.
              p Nam pulvinar sapien pulvinar, laoreet sem eu, blandit magna. Duis finibus diam, eget efficitur massa vehicula quis. Nullam vestibulum ante ipsum primis in faucibus orci luctus et massa vehicula quis ultrices posuere cubilia curae.
          .img-box
            .border-drop-right
              img(src='assets/images/13.jpg', alt='product')
            
      // form subscription  
      .container
        .row.align-items-center.gx-lg-7.mb-lg-9.mt-lg-9.mt-7.mb-7
          .col-lg-6
            .px-3
              h2.mb-lg-3 Subscribe and keep up with the latest from Moiz
              p.pr-lg-7 Maecenas ultricies, ligula id condimentum efficitur, orci diam tincidunt nisi, et mollis nisl dui ut risus. Nam neque magna, rutrum id sapien elementum, ornare pretium arcu. Suspendisse lacinia pharetra lobortis. Donec vitae eros ut velit lacinia aliquam sodales hendrerit.
              p.pr-lg-7 Phasellus ut urna eget justo consectetur at ante. Etiam ipsum neque, feugiat ut gravida non, imperdiet nec mi. Quisque vitae urna ut mauris laoreet ullamcorper quis sit amet tellus

          .col-lg-6.mt-4
            .border-drop-left.border-color-soft-creame
              .has-soft-creame-background-color.py-5.px-4.py-lg-7.px-lg-6
                form(action='#')
                  .mb-lg-4.mb-4
                    input#fname.form-control(type='text' name='fname' value='First Name')
                  .mb-lg-4.mb-4
                    input#lname.form-control(type='text' name='lname' value='Last Name')
                  .mb-lg-4.mb-4
                    p Your email will be safely stored in our database. We respect your privacy. Signing up is quick and easy and you can unsubscribe instantly at any time by clicking the link in the footer of our  emails.
                  .mb-lg-4  
                    a.btn.btn-default.rounded-0.btn-block(href='#') Subscribe