extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      // Hero
      .home-hero.pt-5.pb-8.pt-lg-8.pb-lg-2
        .container
          .row
            .col-lg-5
              .pr-lg-1
                .mb-2.mb-lg-2
                  h2 Certified Partners​
                .pr-lg-3
                  p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        .container.my-lg-7.mt-6
          .row.gx-lg-5.gy-5
            .col-lg-4.align-items-center.mb-lg-6
              .border.border-dark
                .px-lg-4.py-lg-6.px-4.py-6
                  div
                    span.icon
                      i.has-soft-orange-color.h-large.display-6.fas.fa-bullhorn.mb-lg-4.mb-4
                    h4.text-capitalize.mb-4 Marketing
                    p Praesent varius lorem mauris, varius interdum nisi consequat et. Aliquam vel mi a diam vestibulum ultrices eu vitae lectus. Morbi venenatis lacinia cursus. Nullam at purus tincidunt cursus.
            .col-lg-4
              .border.border-dark
                .px-lg-4.py-lg-6.px-4.py-6
                  div
                    span.icon
                      i.has-soft-orange-color.h-large.display-6.fas.fa-desktop.mb-lg-4.mb-4
                    h4.text-capitalize.mb-4 Web Design
                    p Praesent varius lorem mauris, varius interdum nisi consequat et. Aliquam vel mi a diam vestibulum ultrices eu vitae lectus. Morbi venenatis lacinia cursus. Nullam at purus tincidunt cursus.
            .col-lg-4.mb-5
              .border.border-dark
                .px-lg-4.py-lg-6.px-4.py-6
                  div
                    span.icon
                      i.has-soft-orange-color.h-large.display-6.fas.fa-ring.mb-lg-4.mb-4
                    h4.text-capitalize.mb-4 Branding
                    p Praesent varius lorem mauris, varius interdum nisi consequat et. Aliquam vel mi a diam vestibulum ultrices eu vitae lectus. Morbi venenatis lacinia cursus. Nullam at purus tincidunt cursus.
          .row.gx-lg-5
            .col-lg-4.align-items-center.mb-5
              .border.border-dark
                .px-lg-4.py-lg-6.px-4.py-6
                  div
                    span.icon
                      i.has-soft-orange-color.h-large.display-6.fas.fa-palette.mb-lg-4.mb-4
                    h4.text-capitalize.mb-4 Design
                    p Praesent varius lorem mauris, varius interdum nisi consequat et. Aliquam vel mi a diam vestibulum ultrices eu vitae lectus. Morbi venenatis lacinia cursus. Nullam at purus tincidunt cursus.
            .col-lg-4.mb-5
              .border.border-dark
                .px-lg-4.py-lg-6.px-4.py-6
                  div
                    span.icon
                      i.has-soft-orange-color.h-large.display-6.fas.fa-cogs.mb-lg-4.mb-4
                    h4.text-capitalize.mb-4 Web development
                    p Praesent varius lorem mauris, varius interdum nisi consequat et. Aliquam vel mi a diam vestibulum ultrices eu vitae lectus. Morbi venenatis lacinia cursus. Nullam at purus tincidunt cursus.
            .col-lg-4
              .border.border-dark
                .px-lg-4.py-lg-6.px-4.py-6
                  div
                    span.icon
                      i.has-soft-orange-color.h-large.display-6.fas.fa-puzzle-piece.mb-lg-4.mb-4
                    h4.text-capitalize.mb-4 Concept development
                    p Praesent varius lorem mauris, varius interdum nisi consequat et. Aliquam vel mi a diam vestibulum ultrices eu vitae lectus. Morbi venenatis lacinia cursus. Nullam at purus tincidunt cursus.
