extends includes/layout
include includes/mixin

block content

  article.entry
    .entry-content
      //- Page title
      // Hero
      .home-hero.pt-5.pt-lg-8.pb-lg-9
        // our services
        .container
          .row.gx-lg-5.align-items-center
            .col-lg-4
              h5.has-soft-orange-color.font-italic.mb-2 Our services
              h2 We do simple, useful and beautiful solutions.
          .row.gx-lg-5.mt-6.mt-lg-7
            .col-lg-4.mb-5.mb-lg-6
              div
                span.icon
                  i.has-sun-shade-color.h-large.display-6.fas.fa-bullhorn.mb-lg-4.mb-4
                h4.text-capitalize.mb-4 Marketing
                p Praesent varius lorem mauris, varius interdum nisi consequat et. Aliquam vel mi a diam vestibulum ultrices eu vitae lectus. Morbi venenatis lacinia cursus. Nullam at purus tincidunt cursus. 
            .col-lg-4.mb-5.mb-lg-6
              div 
                span.icon
                  i.has-soft-orange-color.h-large.display-6.fas.fa-desktop.mb-lg-4.mb-4
                h4.text-capitalize.mb-4 Web design
                p Praesent varius lorem mauris, varius interdum nisi consequat et. Aliquam vel mi a diam vestibulum ultrices eu vitae lectus. Morbi venenatis lacinia cursus. Nullam at purus tincidunt cursus. 
            .col-lg-4.mb-5.mb-lg-6
              div 
                span.icon
                  i.has-sky-blue-color.h-large.display-6.fas.fa-ring.mb-lg-4.mb-4
                h4.text-capitalize.mb-4 Branding
                p Praesent varius lorem mauris, varius interdum nisi consequat et. Aliquam vel mi a diam vestibulum ultrices eu vitae lectus. Morbi venenatis lacinia cursus. Nullam at purus tincidunt cursus.
          .row.gx-lg-5
            .col-lg-4.mb-5.mb-lg-6
              div
                span.icon
                  i.has-soft-orange-color.h-large.display-6.fas.fa-palette.mb-lg-4.mb-4
                h4.text-capitalize.mb-4 Design
                p Praesent varius lorem mauris, varius interdum nisi consequat et. Aliquam vel mi a diam vestibulum ultrices eu vitae lectus. Morbi venenatis lacinia cursus. Nullam at purus tincidunt cursus. 
            .col-lg-4.mb-5.mb-lg-6
              div
                span.icon
                  i.has-sun-shade-color.h-large.display-6.fas.fa-cogs.mb-lg-4.mb-4
                h4.text-capitalize.mb-4 Web development
                p Praesent varius lorem mauris, varius interdum nisi consequat et. Aliquam vel mi a diam vestibulum ultrices eu vitae lectus. Morbi venenatis lacinia cursus. Nullam at purus tincidunt cursus. 
            .col-lg-4.mb-5.mb-lg-6
              div
                span.icon
                  i.h-large.display-6.fas.fa-puzzle-piece.mb-lg-4.mb-4
                h4.text-capitalize.mb-4 Concept development
                p Praesent varius lorem mauris, varius interdum nisi consequat et. Aliquam vel mi a diam vestibulum ultrices eu vitae lectus. Morbi venenatis lacinia cursus. Nullam at purus tincidunt cursus. 
      
      // brands 
      .container.mt-lg-8.mt-6
        .row.align-items-stretch.gx-0
          .col-lg-6.services-1-bg-img.py-10.order-lg-1
          .col-lg-6.border.border-lg-right-0.border-soft-creame
            .px-lg-6.py-lg-7.px-4.py-5
              .mb-lg-4.mb-3
                h4.has-soft-orange-color Building Brands
              .mt-lg-2.mb-lg-3
                p siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                | sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              .mt-lg-4.mt-5
                a.btn.btn-default.rounded-0(href='page-service.html') Read More

      //  Designing Products
      .container.mt-lg-7.mt-6
        .row.align-items-strecth.gx-0
          .col-lg-6.services-2-bg-img.py-10  
          .col-lg-6.border.border-lg-left-0.border-soft-creame
            .px-lg-6.py-lg-7.px-4.py-5
              .mb-lg-4.mb-3
                h4.has-soft-orange-color Designing Products
              .mt-lg-2.mb-lg-3
                p siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                | sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              .mt-lg-4.mt-5
                a.btn.btn-default.rounded-0(href='page-service.html') Read More
          

      // Improving interfaces
      .container.mt-lg-7.mt-6
        .row.align-items-stretch.gx-0
          .col-lg-6.services-3-bg-img.py-10.order-lg-1
          .col-lg-6.border.border-lg-right-0.border-soft-creame
            .px-lg-6.py-lg-7.px-4.py-5
              .mb-lg-4.mb-3
                h4.has-soft-orange-color Improving Interfaces
              .mt-lg-2.mb-lg-3
                p siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                | sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              .mt-lg-4.mt-5
                a.btn.btn-default.rounded-0(href='page-service.html') Read More


        //values
        .container.mt-lg-9.mt-8.px-0
          .row.gx-lg-5.align-items-center
            .col-lg-6
              .border-drop-right
                img(src="assets/images/2.jpg" alt="Meeting")

            .col-lg-6
              div.mt-lg-5.mt-5
                h2.font-weight-bold.mb-lg-3.mb-3 Our Values
                .mt-lg-1.mt-1
                  p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit, consetetur sadipscing elitr.

              div.mt-5
                h5.mb-lg-3.mb-3 Collaborative
                .mt-lg-1.mt-1
                  p Consetetur Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Accusamjusto Duo Et.

              div.mt-5
                h5.mb-lg-3.mb-3 Trusted
                .mt-lg-1.mt-1
                  p Consetetur Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Accusamjusto Duo Et.

              div.mt-5
                h5.mb-lg-3.mb-3 Focused
                .mt-lg-1.mt-1
                  p Consetetur Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Accusamjusto Duo Et.

      // form subscription  
      .container
        .row.align-items-center.gx-lg-7.mb-lg-9.mt-lg-9.mt-7.mb-7
          .col-lg-6
            .px-3
              h2.mb-3 Subscribe and keep up with the latest from Moiz
              p.pr-lg-7 Maecenas ultricies, ligula id condimentum efficitur, orci diam tincidunt nisi, et mollis nisl dui ut risus. Nam neque magna, rutrum id sapien elementum, ornare pretium arcu. Suspendisse lacinia pharetra lobortis. Donec vitae eros ut velit lacinia aliquam sodales hendrerit.
              p.pr-lg-7 Phasellus ut urna eget justo consectetur at ante. Etiam ipsum neque, feugiat ut gravida non, imperdiet nec mi. Quisque vitae urna ut mauris laoreet ullamcorper quis sit amet tellus

          .col-lg-6.mt-4
            .border-drop-left.border-color-soft-creame
              .has-soft-creame-background-color.py-5.px-4.py-lg-7.px-lg-6
                form(action='#')
                  .mb-lg-4.mb-4
                    input#fname.form-control(type='text' name='fname' value='First Name')
                  .mb-lg-4.mb-4
                    input#lname.form-control(type='text' name='lname' value='Last Name')
                  .mb-lg-4.mb-4
                    p Your email will be safely stored in our database. We respect your privacy. Signing up is quick and easy and you can unsubscribe instantly at any time by clicking the link in the footer of our  emails.
                  .mb-lg-4  
                    a.btn.btn-default.rounded-0.btn-block(href='#') Subscribe