extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      // Hero
      .home-hero.pt-5.pb-6.pt-lg-8.pb-lg-9
        .container
          .row
            .col-lg-5
              .pr-lg-1
                h2.mb-2.mb-lg-2 Certified Partners​
                p.pr-lg-3 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        .container.mt-lg-7.mt-5
          .row.gx-lg-5.gy-5.mb-5
            .col-lg-4
              .border.border-black
                .text-center.align-items-center
                  .px-lg-4.py-lg-5.px-4.py-5
                    .px-lg-5.mt-lg-4.px-5.mt-4
                      img(src="assets/images/logo/1.png" alt="Meeting")
                    .mt-lg-4.mt-5.has-soft-orange-color  
                      h4 Investment Partner
                    .px-lg-3.mt-lg-3.px-3.mt-3
                      p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.

            .col-lg-4
              .border.border-black
                .text-center.align-items-center
                  .px-lg-4.py-lg-5.px-4.py-5
                    .px-lg-5.mt-lg-4.px-5.mt-4
                      img(src="assets/images/logo/2.png" alt="Meeting")
                    .mt-lg-4.mt-5.has-soft-orange-color
                      h4 Bank Partner
                    .px-lg-3.mt-lg-3.px-3.mt-3
                      p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
            .col-lg-4
              .border.border-black
                .text-center.align-items-center
                  .px-lg-4.py-lg-5.px-4.py-5
                    .px-lg-5.mt-lg-4.px-5.mt-4
                      img(src="assets/images/logo/3.png" alt="Meeting")
                    .mt-lg-4.mt-5.has-soft-orange-color  
                      h4 Construction Partner
                    .px-lg-3.mt-lg-3.px-3.mt-3
                      p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
          .row.gx-lg-5.gy-5
            .col-lg-4
              .border.border-black
                .text-center.align-items-center
                  .px-lg-4.py-lg-5.px-4.py-5
                    .px-lg-5.mt-lg-4.px-5.mt-4
                      img(src="assets/images/logo/4.png" alt="Meeting")
                    .mt-lg-4.mt-5.has-soft-orange-color  
                      h4 Construction Partner
                    .px-lg-3.mt-lg-3.px-3.mt-3
                      p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
            .col-lg-4
              .border.border-black
                .text-center.align-items-center
                  .px-lg-4.py-lg-5.px-4.py-5
                    .px-lg-5.mt-lg-4.px-5.mt-4
                      img(src="assets/images/logo/5.png" alt="Meeting")
                    .mt-lg-4.mt-5.has-soft-orange-color  
                      h4 Construction Partner
                    .px-lg-3.mt-lg-3.px-3.mt-3
                      p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
            .col-lg-4
              .border.border-black
                .text-center.align-items-center
                  .px-lg-4.py-lg-5.px-4.py-5
                    .px-lg-5.mt-lg-4.px-5.mt-4
                      img(src="assets/images/logo/6.png" alt="Meeting")
                    .mt-lg-4.mt-5.has-soft-orange-color  
                      h4 Construction Partner
                    .px-lg-3.mt-lg-3.px-3.mt-3
                      p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.

      // form subscription  
      .container
        .row.align-items-center.gx-lg-7.mb-lg-9.mt-lg-9.mt-7.mb-7
          .col-lg-6
            .px-3
              h2.mb-lg-3 Subscribe and keep up with the latest from Moiz
              p.pr-lg-7 Maecenas ultricies, ligula id condimentum efficitur, orci diam tincidunt nisi, et mollis nisl dui ut risus. Nam neque magna, rutrum id sapien elementum, ornare pretium arcu. Suspendisse lacinia pharetra lobortis. Donec vitae eros ut velit lacinia aliquam sodales hendrerit.
              p.pr-lg-7 Phasellus ut urna eget justo consectetur at ante. Etiam ipsum neque, feugiat ut gravida non, imperdiet nec mi. Quisque vitae urna ut mauris laoreet ullamcorper quis sit amet tellus

          .col-lg-6.mt-4
            .border-drop-left.border-color-soft-creame
              .has-soft-creame-background-color.py-5.px-4.py-lg-7.px-lg-6
                form(action='#')
                  .mb-lg-4.mb-4
                    input#fname.form-control(type='text' name='fname' value='First Name')
                  .mb-lg-4.mb-4
                    input#lname.form-control(type='text' name='lname' value='Last Name')
                  .mb-lg-4.mb-4
                    p Your email will be safely stored in our database. We respect your privacy. Signing up is quick and easy and you can unsubscribe instantly at any time by clicking the link in the footer of our  emails.
                  .mb-lg-4  
                    a.btn.btn-default.rounded-0.btn-block(href='#') Subscribe