extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      // Hero
      .home-hero.py-5.pt-lg-8.pb-lg-8
        .container
          .row
            .col-lg-5
              .pr-lg-1
                .mb-2.mb-lg-2.has-soft-orange-color  
                  h2 Call To Action
                .pr-lg-3
                  p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      .mt-lg-9.mb-lg-8.mt-7.mb-6  
        .container  
          .home-hero.py-lg-7.px-lg-7.py-5.px-5
            .row.gx-lg-5
              .col-lg-6
                h2 Let’s work & build something great together.
                .mt-lg-4.mt-4
                  a.btn.btn-default.rounded-0(href='page-contact.html') Contact Us
              .col-lg-6
                .paragraph.font-weight-light.mt-5.mt-lg-0 
                  p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua sed diam nonumy.
      .mb-lg-9.mb-7
        .container.border.border-black
          .py-lg-7.py-5.px-4
            .row
              .col-lg-8.offset-lg-2.text-center
                .mt-lg-3.mt-3
                  h2 Let’s build something great together.
                .mt-lg-3.mt-3  
                  p Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et aliquyam erat, sed diam voluptua sed diam nonumy.
                .mt-lg-4.mt-4
                  a.btn.btn-default.rounded-0(href='page-contact.html') Contact Us  