extends includes/layout
include includes/mixin

block content

  article.entry

    .entry-content
      //- Page title
      +pagetitle({title:'Portfolio', description:'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.'})
      // Portfolio
      .twenty-percent-bg-cream
        .container
          +portfolio(
            '',
            'col-lg-6',
            true,
            {
            image:'assets/images/blog/4.jpg',
            title:'Needed a completely new fresh branding to match with their new personality', 
            category:'Manan',
            },
            {
            image:'assets/images/blog/5.jpg',
            title:'New fresh branding to match with their new personality',
            category:'Tozee'
            },
            {
            image:'assets/images/blog/6.jpg',
            title:'New fresh branding to match with their new personality',
            category:'Hashir'
            },
            {
            image:'assets/images/blog/7.jpg',
            title:'New fresh branding to match with their new personality',
            category:'Kaam'
            }
          )
          .text-center.align-items-center
            a.btn.btn-default.rounded-0(href='blog-three-col.html') Load More
      
      // form subscription  
      .container
        .row.align-items-center.gx-lg-7.mb-lg-9.mt-lg-9.mt-7.mb-7
          .col-lg-6
            .px-3
              h2.mb-lg-3 Subscribe and keep up with the latest from Moiz
              p.pr-lg-7 Maecenas ultricies, ligula id condimentum efficitur, orci diam tincidunt nisi, et mollis nisl dui ut risus. Nam neque magna, rutrum id sapien elementum, ornare pretium arcu. Suspendisse lacinia pharetra lobortis. Donec vitae eros ut velit lacinia aliquam sodales hendrerit.
              p.pr-lg-7 Phasellus ut urna eget justo consectetur at ante. Etiam ipsum neque, feugiat ut gravida non, imperdiet nec mi. Quisque vitae urna ut mauris laoreet ullamcorper quis sit amet tellus

          .col-lg-6.mt-4
            .border-drop-left.border-color-soft-creame
              .has-soft-creame-background-color.py-5.px-4.py-lg-7.px-lg-6
                form(action='#')
                  .mb-lg-4.mb-4
                    input#fname.form-control(type='text' name='fname' value='First Name')
                  .mb-lg-4.mb-4
                    input#lname.form-control(type='text' name='lname' value='Last Name')
                  .mb-lg-4.mb-4
                    p Your email will be safely stored in our database. We respect your privacy. Signing up is quick and easy and you can unsubscribe instantly at any time by clicking the link in the footer of our  emails.
                  .mb-lg-4  
                    a.btn.btn-default.rounded-0.btn-block(href='#') Subscribe