extends includes/layout
include includes/mixin

block content

  article.entry

    .entry-content
      //- Page title
      +pagetitle({title:'Manan Fresh Branding', description:'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.'})
      
      // Project featured img
      .project-featured-img

      // form subscription  
      .container.mt-lg-8.mt-6
        .row.align-items-center.gx-lg-7.mb-lg-9.mt-lg-9.mt-7.mb-7
          .col-lg-6
            p.lead Duis diam ex, viverra eu pellentesque a, mattis quis est. Sed non elementum felis. Vivamus tristique tincidunt massa ac posuere. Nam aliquet bibendum ullamcorper. Vestibulum vitae egestas lacus. Morbi ultrices nunc eget scelerisque efficitur. Duis id tincidunt metus, at dignissim ex. Proin sed nulla non dolor placerat imperdiet at quis augue.
          .col-lg-6
            p Integer mattis eget justo ut suscipit. Nullam id dolor tristique, imperdiet neque et, consequat arcu. Cras neque magna, suscipit sed velit sed, bibendum accumsan eros. Duis diam ex, viverra eu pellentesque a, mattis quis est. Sed non elementum felis.
            p Vestibulum vitae egestas lacus. Morbi ultrices nunc eget scelerisque efficitur. Duis id tincidunt metus, at dignissim ex. Proin sed nulla non dolor placerat imperdiet at quis augue. 
      
      .container.mt-lg-7.mt-6
        img.img-fluid.mb-5(src="assets/images/5.jpg" alt="Project")
        img.img-fluid.mb-5(src="assets/images/6.jpg" alt="Project")
        img.img-fluid.mb-5(src="assets/images/7.jpg" alt="Project")
        img.img-fluid.mb-5(src="assets/images/8.jpg" alt="Project")
        img.img-fluid.mb-7(src="assets/images/9.jpg" alt="Project")
        
      // Values
      .container.mt-lg-6.mb-lg-9.mb-7
        .row.gx-lg-5.align-items-center
          .col-lg-6
            div
              h4.mb-3 Select design preference
              p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit, consetetur sadipscing elitr. Sed Diam Voluptua. At Vero Eos Accusamjusto duo Et.
            div.mt-5
              h4.mb-3 We get to work on your vision
              p Consetetur Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Accusamjusto duo Et.
            div.mt-5
              h4.mb-3 We go in design phase.
              p Consetetur Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Accusamjusto duo Et.
            div.mt-5.mb-5
              h4.mb-3 Let’s build and place.
              p Consetetur Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Accusamjusto duo Et.
          
          .col-lg-6
            .border-drop-left
              img(src="assets/images/11.png" alt="Meeting")
