extends includes/layout
include includes/mixin

block content
  //- Page title
  .mb-lg-9.mb-md-7.mb-5
    +pagetitle({title:'Analisi economiche e socio-demografiche', description:'Big Data analytics nel settore economico e socio-demografico'})
  .container
    .row.large-gutters
      .col-lg-4.mb-7
        //- Elements nav
        include includes/topic-nav
      .col-lg-6.mb-7
        strong Big Data analytics nel settore economico e socio-demografico:
        br
        | applicazioni su smart city of the future, energy, tourism, automotive electronics (autonomous driving) and intelligent/green transportation systems, Web, mobility, official statistics, social simulation, policy support e partecipazione politica; Big Data come contested polity and political objects, epistemologia della data science; integrazione tra dati a struttura complessa provenienti da fonti diverse, incluse indagini survey comparative internazionali e fonti amministrative (Small Big Data), per l’analisi delle performance scolastiche e delle disuguaglianze economiche e sociali; costruzione di nuovi indicatori in ambito socio-economico; supporto alle previsioni economiche grazie alla tempestività dell’informazione e alla notevole quantità di dati disponibili; big data per l'analisi del mercato del lavoro, dell'istruzione e della relazione tra istruzione e crescita economica. Applicazione di tecniche di Sentiment Analysis ai contenuti di social media, giornali e notiziari televisivi, per lo studio della percezione dei fenomeni economici, sociali e demografici.
