extends includes/layout
include includes/mixin

block content
  //- Page title
  .mb-lg-9.mb-md-7.mb-5
    +pagetitle({title:'Financial data science', description:' '})
  .container
    .row.large-gutters
      .col-lg-4.mb-7
        //- Elements nav
        include includes/topic-nav
      .col-lg-6.mb-7
        strong Financial data science:
        br
        | Analisi di dati finanziari a larga scala; serie storiche ad alta frequenza, analisi predittiva di fenomeni economico/finanziari; analisi, misura e predizione di rischio sia locale che sistemico; technologically enabled financial innovations (FinTechs); metodi e modelli statistici, econometrici ed analitici per il monitoraggio in tempo reale delle condizioni economiche dei paesi e del livello di rischio derivante dall'interazione tra settore reale e settore finanziario dell'economia.
