extends includes/layout
include includes/mixin

block content
  //- Page title
  .mb-lg-9.mb-md-7.mb-5
    +pagetitle({title:'Social sensing', description:' '})
  .container
    .row.large-gutters
      .col-lg-4.mb-7
        //- Elements nav
        include includes/topic-nav
      .col-lg-6.mb-7
        strong Social sensing:
        br
        | acquisizione ed analisi di dati provenienti da Social Media; caratterizzazione di strutture sociali in Social Media e loro impatto sui fenomeni sociali nei Social Media; studio e individuazione di account malevoli (fake account, social bot, spambot, etc...); utilizzo dei social networks come supporto per la gestione delle emergenze (terremoti, alluvioni, attacchi terroristici, ecc…); studio e implementazione di metriche per misurare lo stato di salute dei social media.
