// Border drop
.border-drop-right {
  @include media-breakpoint-up(lg) {
    padding-right: 20px;
    position: relative;

    img {
      position: relative;
      z-index: 1;
    }

    &::after {
      content: "";
      border: solid 1px $soft-blue;
      width: calc(100% - 20px);
      height: 100%;
      position: absolute;
      display: block;
      right: 0;
      bottom: -20px;
      z-index: 0;
    }
  }
}

.border-drop-left {
  @include media-breakpoint-up(lg) {
    padding-left: 20px;
    position: relative;

    > * {
      position: relative;
      z-index: 1;
    }

    &::after {
      content: "";
      border: solid 1px $soft-blue;
      width: calc(100% - 20px);
      height: 100%;
      position: absolute;
      display: block;
      left: 0;
      bottom: -20px;
      z-index: 0;
    }

  }

  &.border-color-soft-creame::after {
    border: solid 1px $soft-creame;
  }
}

.border-drop {
  padding-right: 20px;
  position: relative;

  img {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    border: solid 1px $soft-creame;
    border-right: 0px;
    width: calc(100%);
    height: 100%;
    position: absolute;
    display: block;
    right: 0;
    bottom: -20px;
    z-index: 0;
  }

  &.border-color-black::after {
    border: solid 1px $black;
  }
}


.all-text-white {
  * {
    color: $white;
  }
}

// Backgrounds

.home-hero {
  background-color: $soft-creame;;
  background-size: cover;

}

.home-hero-img {
  background-image: url("../images/home_bckg.png");
  background-size: cover;
  background-position: center center;
  min-height: 50vh;

  @include media-breakpoint-up(lg) {
    min-height: 80vh;
  }
}

.about-us-hero-img {
  background-image: url("../images/12.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 50vh;

  @include media-breakpoint-up(lg) {
    min-height: 80vh;
  }
}

//back gorund color plans
.twenty-percent-bg-cream {
  background-color: transparent;
  @include media-breakpoint-up(lg) {
    background: linear-gradient(180deg, $soft-creame 17%, $white 17%);
  }
}

.half-percent-bg-cream {
  background-color: transparent;
  background: linear-gradient(180deg, $soft-creame 50%, $white 50%);
}

.quater-percent-bg-cream {
  background: linear-gradient(180deg, $soft-creame 75%, $white 75%);
  background-color: transparent;
}

.project-featured-img {
  background-image: url("../images/4.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 50vh;

  @include media-breakpoint-up(lg) {
    min-height: 80vh;
  }
}

.home-hero-img {
  background-image: url("../images/home_bckg.png");
  background-size: cover;
  background-position: center center;
  min-height: 20vh;

  @include media-breakpoint-up(lg) {
    min-height: 50vh;
  }
}

//testimonials images
.testimonial-1-bg-img {
  background-image: url("../images/25.jpg");
  background-size: cover;
  background-position: center center;
}

.testimonial-2-bg-img {
  background-image: url("../images/26.jpg");
  background-size: cover;
  background-position: center center;
}

.testimonial-3-bg-img {
  background-image: url("../images/27.jpg");
  background-size: cover;
  background-position: center center;
}

.testimonial-4-bg-img {
  background-image: url("../images/28.jpg");
  background-size: cover;
  background-position: center center;
}

//Services images
.services-1-bg-img {
  background-image: url("../images/29.jpg");
  background-size: cover;
  background-position: center center;
}

.services-2-bg-img {
  background-image: url("../images/30.jpg");
  background-size: cover;
  background-position: center center;
}

.services-3-bg-img {
  background-image: url("../images/31.jpg");
  background-size: cover;
  background-position: center center;
}

//blog post image
.single-post-featured-img {
  background-image: url("../images/4.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 50vh;

  @include media-breakpoint-up(lg) {
    min-height: 80vh;
  }
}

//slider image
.slider-one-img {
  background-image: url("../images/blog/1.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 50vh;

  @include media-breakpoint-up(lg) {
    min-height: 80vh;
  }
}

.slider-two-img {
  background-image: url("../images/blog/2.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 50vh;

  @include media-breakpoint-up(lg) {
    min-height: 80vh;
  }
}

.slider-three-img {
  background-image: url("../images/blog/3.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 50vh;

  @include media-breakpoint-up(lg) {
    min-height: 80vh;
  }
}

.slider-four-img {
  background-image: url("../images/blog/4.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 50vh;

  @include media-breakpoint-up(lg) {
    min-height: 80vh;
  }
}

//page 404 title
.title-404 {
  @include media-breakpoint-up(lg) {
    color: #000000;
    font-size: 280px;
    font-weight: 600;
    line-height: 310px;
  }
  color: #000000;
  font-size: 175px;
  font-weight: 600;
  line-height: 210px;
  width: 100%;

}

//leading paragraph
.paragraph {
  font-size: 20px;
  line-height: 32px;
}


//home-cover
.home-cover-text-box {
  background-color: rgba(256, 256, 256, 0.6);
}

.min-vh-40{
  min-height:31vh !important
}


// custom colors

.has-soft-orange-color {
  color: #4d9bed;
}

.site-header .navbar .nav-item .nav-link {
  color: #3b3b3b;
}

h1 {
  color: #495057;
}
.navbar {
  background-color: #dae6f4;
}

.has-soft-creame-background-color {
  background-color: #dae6f4;
}

.home-hero {
  background-color: #e9e9e9;
  background-size: cover;
}


element.style {
}
.accordion .card .card-header a {
  display: block;
  position: relative;
}
a:hover {
  color: #4d9bed;
  text-decoration: underline;
}


.text-img-box.text-img-box-reverse .text-box {
  background-color: #dae6f4;
}

.text-img-box.text-img-box-reverse .img-box {
  background-color: #dae6f4;
}

.text-img-box.text-img-box-reverse .img-box {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(52%, #fff), color-stop(34%, #dae6f4));
  background-image: -webkit-linear-gradient(left, #fff 52%, #dae6f4 34%);
  background-image: linear-gradient(90deg, #fff 52%, #dae6f4 34%);
}

.page-main-title {
  padding: 3rem 0 6.25rem;
  background-color: #ececec;
}

.page-main-title .entry-title {
  margin-bottom: 15px;
  color: #4d9bed;
}

.btn-default.rounded-0:hover {
  color: #fff;
  background-color: #4d9bed;
  border-color: #4d9bed;
}


.navbar-light .navbar-brand {
  color: #4d9bed;
}

.site-header .navbar .navbar-brand {
  font-size: 3rem;
}
